<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/style.css" type="text/css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<title>Panes</title>
</head>
<body>

	<div class="topnav">
	  <a class="A_active">Panes</a>
	  <a href="\" class="active">Front Page</a>
	  <a id="registerLink" href="\Signup" class="inactive">Register</a>
	  <a id="loginLink" href="\login" class="inactive">Login</a>
	  <a id="paneLink" href="\my_profile" class="inactive">Your Pane</a>

	  <a id="logoutLink" href="\" class="right">Logout</a>
	</div>


	<br>
	<br>
	<br>

	<div class="content">
		<h1>Welcome to Panes!</h1>

		<br>
		<br>
		<br>

		<p>Panes is a revolutionary way of connecting with friends!</p>

		<br>

		<a href="\Signup" class="midbutton" >Register Now!</a>

		<br><br><br>

	</div>

	<br>
	<hr>

	<script type="text/javascript" src="/topnav.js"></script>

</body>
</html>
